<div class="container">
  <h1>Cocktails</h1>
  <div id="cocktails">
    <% @cocktails.each do |cocktail| %>
    <div class="cocktail">
      <%= link_to cocktail_path(cocktail) do %>
      <h5><%= cocktail.name %></h5>
      <% end %>
    </div>
    <% end %>
    <img src="../../images/bar.jpg" alt="">
  </div>
</div>
